.productsList {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-height: 280px;
  overflow-y: scroll;
  /* box-shadow: inset 0px -15px 10px -15px rgb(152, 152, 152); */
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    #ffffff 42.19%
  );
  /* width: max-content; */
  padding-right: 20px;
  margin-bottom: 20px;
}
