.section {
  width: 320px;
  padding: 32px 20px 40px 20px;
  margin-left: auto;
  margin-right: auto;
}

.sectionSummary {
  background: #f0f1f3;
  padding-top: 40px;
  padding-bottom: 24px;
}
.headerCalculate {
  font-family: 'Verdana';
  max-width: 280px;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 34px;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .section {
    width: 768px;
    padding: 100px 0px 40px 32px;
    margin: 0;
  }
  .sectionSummary {
    padding: 80px 0;
    background-image: url(../../images/RightSideBar/bg-rightsidebar-tablet.png);
    background-repeat: no-repeat;
    background-position: 399px -4px;
  }

  .headerCalculate {
    font-size: 34px;
    max-width: 560px;
    margin-bottom: 68px;
  }
}

@media screen and (min-width: 1280px) {
  .main {
    display: flex;
  }

  .section {
    padding-top: 144px;
    padding-bottom: 111px;
    width: 100%;
  }

  .sectionSummary {
    width: 45%;
    background-image: url(../../images/RightSideBar/bg-rightsidebar-desktop.png);
    background-repeat: no-repeat;
    background-position: 38px 0;
    padding-top: 321px;
    margin-top: -160px;
    z-index: -1;
  }
}
