@media screen and (min-width: 320px) {

.TitleRegister {
        color: #FC842D;
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 60px;
        text-align: center;
        width: 254px;
        margin-left: auto;
        margin-right: auto;
    }

    .LableRegisterForm {
        display: flex;
        flex-direction: column;
        color: #9B9FAA;
        margin-bottom: 60px;
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.04em;

    }

    .InputRegister {
        width: 280px;
        height: 16px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #E0E0E0;
    }


    .FormRegister {
        display: flex;
        flex-direction: column;
        width: 285px;
        margin-left: auto;
        margin-right: auto;
    }

    .BtnRegister {
        margin-right: auto;
        margin-left: auto;
        width: 182px;
        height: 44px;
        border-radius: 30px;
        border: 1px solid #FC842D;
        color: #FC842D;
        background-color: #FFFFFF;
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.04em;
        padding: 13px 37px;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .BtnRegister:hover,
    .BtnRegister:active {
        box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
        border: none;
        color: #FFFFFF;
        background-color: #FC842D;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

@media screen and (min-width: 768px) {
    .TitleRegister {
        text-align:start;
    }

    .BtnRegister {
        margin-right: 0;
        margin-left: 0;
    }
    .FormRegister {
        margin-left: 0;
        margin-right: 0;
    }
    .TitleRegister {
        margin-left: 0;
        margin-right: 0;
    }
    .InputRegister {
        width: 240px;
    }
}

