.sectionCalculate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    background-color: #fff;
  }
  
  .containerCalculate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 32px 20px 41px 20px;
  }
  
  .headerCalculate {
    font-weight: 700;
    font-size: 34px;
    line-height: 140%;
    margin-bottom: 32px;
  }
  
  .formCalculate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    padding-bottom: 32px;
  }
  
  .labelCalculate {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #9B9FAA;
  }
  
  .inputCalculate {
    border: none;
    border-bottom: 1px solid #9B9FAA;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #9B9FAA;
    width: 100%;
  }
  
  .formRadioCalculate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 32px;
  }
  
  .radioBtn {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
  }
  
  .inputRadioCalculate {
    box-sizing: border-box;
    appearance: none;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    
  }

  .inputRadioCalculate:checked {
    border: 1px solid #E0E0E0;
    background: #FC842D;
    background-size: contain;
  }
  
  .formRadioCalculate label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #9B9FAA;
  }
  
  /* .formRadioCalculate {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #9B9FAA;
  } */
  
  .btnCalculate {
    background-color: #FC842D;
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    border-radius: 30px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 13px 25px;
    margin: 0 55px 0 55px;
  }

  @media screen and (min-width: 768px) {
    .containerCalculate {
        /* max-width: 490px; */
        padding: 100px 32px 60px 32px;
        padding-bottom: 48px;
      }
    
      .formCalculate {
        width: 600px;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: calc((100% - 3 * 10px) / 2)
      }
    
      .labelCalculate {
        width: 240px;
      }
    
      .formRadioCalculate {
        width: 240px;
      }
    
      .btnCalculate {
        margin-left: 0;
        width: 210px;
      }
  }

  @media screen and (min-width: 1200px) {

  }