.flexContainer {
  display: flex;
}
.dateWrapper {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 60px;
}
.date {
  font-size: 34px;
  font-weight: 700;
}

.datePickerWrapper {
  padding: 5px;
  display: flex;
  cursor: pointer;
}
.datePickerWrapper svg {
  fill: #9b9faa;
  transition: all 150ms linear;
}

.datePickerWrapper:hover svg {
  fill: #808288;
}

.datePickerWrapper input {
  display: none;
}
