.font {
  font-family: 'Verdana';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
}

.nonAuthBox {
  display: flex;
  width: 100%;
}

.authBox {
  display: none;
}

.NavLink {
  composes: font;
  margin-left: 15px;
  text-decoration: none;
  color: #9b9faa;
  text-transform: uppercase;
}

.NavLinkActive {
  composes: NavLink;
  color: #212121;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
  .authBox {
    display: flex;
  }
}
