.NavLink {
    margin-left: 15px;
    text-decoration: none;
    color: #9B9FAA;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.NavLinkActive {
    margin-left: 15px;
    text-decoration: none;
    color: #212121;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}