.header {
  position: relative;
  display: flex;
  width: 320px;
  z-index: 3;
  background-color: #ffffff;
  border-bottom: 2px solid #E0E0E0;
}

.verticalLine {
  display: none;
}

.navigationBox {
  margin-top: 38px;
  margin-right: 20px;
  margin-left: auto;
}

.tabletUserMenuDiv {
  display: none;
}

.mobileUserMenuDiv {
  background-color: #eff1f3;
  width: 320px;
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .header{
    width: 768px;
  }
  .navigationBox {
    margin-top: 37px;
    margin-right: 32px;
  }

  .mobileUserMenuDiv {
    display: none;
  }
  
  .tabletUserMenuDiv {
    display: flex;
    margin-top: 5px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    width: 1280px;
    border-bottom: none;
    background-color: transparent;
  }

  .verticalLine {
    display: block;
    margin-top: 121px;
    content: '';
    width: 1px;
    height: 32px;
    background-color: #e0e0e0;
  }

  .navigationBox {
    margin-top: 132px;
    margin-right: auto;
    margin-left: 0px;
  }
}
