@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  color: #212121;
  text-decoration: none;
}

img {
  display: block;
  line-height: 0;
}

section {
  padding: 0px 20px;
  margin: 0 auto;
  width: 100%;
}

button {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  section {
    padding: 0px 32px;
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  section {
    padding: 0px 16px;
    width: 1280px;
  }
}
